body {
    padding: 30px;
}

header {
    background: lightblue;
}

section {
    background: lightgreen;
    width: 75%;
}

article {
    background: white;
    margin: 0 0 1rem 0;
}

header,
article,
section,
.module {
    padding: 1rem;
}


/* =х======== 3 способ ========*/

aside {
    background: pink;
    width: 25%;
}

.flexDiv {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.flexForm {
    display: flex;
    flex-direction: row;
}